<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Module</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/newhome.css">
    <script src="https://kit.fontawesome.com/6bce487c89.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav id="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">USER MANAGEMENT SYSTEM</label>
        <ul>
            <li><a style="color: #70A300;" href="/">Home</a></li>
            <li><a href="/userlogin">Sign in</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/adminlogin">Admin</a></li>
            <li><a style="background: rgb(28, 68, 5);" href="/contact">Contact Us</a></li>
        </ul>

    </nav>

    <section id="home">
        <div class="content-box">
            <div class="content">
                <blockquote>
                    <p>“If your actions inspire others to dream more, learn more, do more and become more, you are a leader. Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossible.”</p>
                </blockquote>
                <cite>— Admin User Management</cite>
            </div>
        </div>

    </section>
    <footer>
        <div class="center">
            Copyright &copy; usermanagement.ashutosh.herokuapp.com. All right reserved.
        </div>
    </footer>



</body>

</html>