{% extends 'adminlayout.html' %}
{% block body %}

<div class="card-container">
<div class="card">
    <div class="card-head" style="background-color: rgb(18, 50, 65);">
        <p>Change Password</p>
    </div>
    <div class="card-body">
        <form action="/admin/change-password" method="post">
            
            <div class="input-box">
                <input type="password" id="password2" name="new_password"  placeholder="New Password" required minlength="6" maxlength="15">
                <span class="span">
                    <i class="far fa-eye" id="eye2" onclick="togglePassword2()"></i></span>
            </div>


        <div class="input-box">
            <input type="password" id="password3" name="confirm_password" placeholder="Confirm Password" required minlength="6" maxlength="15">
            <span class="span">
                <i class="far fa-eye" id="eye3" onclick="togglePassword3()"></i></span>
        </div>
   
    <div class="input-box btn"><input style="background-color: rgb(18, 50, 65);" type="submit" id="submit" value="Change Password"></div>

</form>
</div>
</div>
</div>

{% endblock %}